---
const content = Astro.props.content;
const { author, role, img, title } = content.frontmatter;
const num = Astro.props.num;
---

<div class={`card card-${num}`}>
    <div class="flex items-center">
        <img src={img} class="rounded-full w-10" alt={"Image of " + author} />
        <div class="ml-4">
            <h3 class="font-barlowsemi text-sm">{author}</h3>
            <h4 class="font-barlowmedium text-sm opacity-50">{role}</h4>
        </div>
    </div>
    <h2 class="font-barlowsemi text-2xl mt-4">{title}</h2>
    <blockquote class="font-barlowmedium leading-5 opacity-50 text-sm mt-4">
        {content.rawContent()}
    </blockquote>
</div>
